.Users {
    padding: 16px;
    height: calc(100vh - 56px);
    overflow: auto;
}

.Table th {
    text-align: center !important;
    padding: 8px 16px !important;
}

.Table td {
    font-size: 14px;
}